@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-bg-base: var(--bg-base);
  --color-bg-surface: var(--bg-surface);
  --color-bg-raised: var(--bg-raised);
  --color-bg-overlay: var(--bg-overlay);
  --color-border-main: var(--border);
  --color-border-sub: var(--border-sub);
  --color-text-1: var(--text-1);
  --color-text-2: var(--text-2);
  --color-text-3: var(--text-3);
  --color-accent: var(--accent);
  --color-accent-sub: var(--accent-sub);
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  --bg-base:    #f3f4f6;
  --bg-surface: #ffffff;
  --bg-raised:  #f9fafb;
  --bg-overlay: #f3f4f6;
  --border:     #e5e7eb;
  --border-sub: #f3f4f6;
  --text-1:     #111827;
  --text-2:     #4b5563;
  --text-3:     #9ca3af;
  --accent:     #84cc16;
  --accent-sub: #84cc1618;
}

.dark {
  --background: #050505;
  --foreground: #ededed;

  --bg-base:    #0A0A0C;
  --bg-surface: #121316;
  --bg-raised:  #1e2029;
  --bg-overlay: #262933;
  --border:     #2e3140;
  --border-sub: #1d2030;
  --text-1:     #e2e4e9;
  --text-2:     #9ba1b0;
  --text-3:     #5a6070;
  --accent:     #CCFF00;
  --accent-sub: #CCFF0018;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
